<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="">
            <input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" placeholder="filtrar pelo titulo" type="text">
        </form>
    </div>
</div>

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo={{foto.titulo}}>
        <img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
    </meu-painel><!-- fim meu-painel -->
</div>